.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.big-button{
  background: #808080;
  border: none;
  border-bottom: .6rem solid darken(#808080, 10%);
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding:  2.4rem;
  width: 50%
}
.button {
  background: red;
  border: none;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  padding: 1rem;
  width: 12%;
  margin-top: 2rem;
  margin-bottom: 2.4rem;
  margin: 1rem;

}
.button-topup{
  background: green;
  border: none;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  padding: 1rem;
  width: 12%;
  margin-top: 2rem;
  margin-bottom: 2.4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}


.button-stats{
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  padding: 1rem;
  width: 15%;
  margin-top: 0.2rem;
  margin-bottom: 0.1rem;
  margin-right: 2rem;
  disabled: true;
}

.totalBets{
  background: orange;
}
.activeBets{
  background: grey;
}

.wins {
  background: green;
}

.loss {
  background: #ff8b4c;
}

.totalwin {
  background: blue;
}

.totalLost {
  background: #668fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
